:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 10rem;
    /* overflow-x: hidden; */
    min-width: 320px;
    
}
body {
    margin: 0;
    padding: 0;
    background-color: #ffffffac;
    /* padding-top: 70px; */
    /* overflow-x: hidden; */
}

@media screen and (max-width: 401px){
  body{
    background-color: #ffffff;
  }
}

 #root {
  overflow-x: clip; /* instead of hidden */
}







