.footer {
  background-color: #000000;
  color: #fff;
  padding: 3rem 5rem 1rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer h2 {
  font-family: "Nova Cut", sans-serif;
  font-size: 30px;
  margin: 0;
}

.footer p {
  margin: 0;
  margin-bottom: 1.5rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #e5a73b;
  padding-bottom: 2rem;
  max-width: 1200px;
  gap: 18vw;

}

.footer-left {
  max-width: 380px;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-text {
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #e5e5e5;
}

.social-icons-footer a {
  color: white;
  font-size: 1.3rem;
  margin-right: 1rem;
  transition: opacity 0.3s;
}

.social-icons-footer a:hover {
  opacity: 0.7;
}

.back-to-top {
  margin-top: 1.8rem;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: all 0.3s ease;
  text-decoration: none;
  width: 120px;
}

.back-to-top:hover {
  background: #fff;
  color: #0e3d3a;
}

.footer-mid,
.footer-right {
  min-width: 200px;
}

.footer-mid h4,
.footer-right h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-mid ul,
.footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-mid li,
.footer-right li {
  margin-bottom: 0.6rem;
}

.footer-mid a,
.footer-right a {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.footer-mid a:hover,
.footer-right a:hover {
  color: #e5a73b;
}

.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  color: #ccc;
  padding-top: 1rem;
  max-width: 1200px;
}

  @media screen and (min-width: 1700px) {
   
    .footer-container{
      max-width: 1400px;
    }
  }